.container {
  text-align: center;
  margin: 3rem auto;
}

.task-form {
  margin-bottom: 1rem;
}

ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
}

button {
  margin-left: 0.5rem;
}

.timer {
  margin-left: 0.5rem;
}
